<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LPAdScrollView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE43D3351DC848AC003E82AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE43D34E1DC848AC003E82AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE43D3591DC848AC003E82AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
